<link rel="stylesheet" href="/css/confirm.css">
<header>
    <h1>
    <a href="https://graceful-plum-pocketbook.cyclic.app">home page</a>
</h1>
</header>

<h1>your password is succesfuly reset please<a href="https://graceful-plum-pocketbook.cyclic.app">click here...</a></h1>;
