<link rel="stylesheet" href="/css/forget-password.css">
    <div class="profile-card">
<h1>forget password</h1>
<form action="/forget-password" method="post">
    <input type="password" name="password" required placeholder="enter your new password" id="changes">
    <input type="hidden" name="user_id" value=" <%=id.id%> "> 
    <input type="submit" value="reset password" id="submit">
</form></div>