* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html
  {
  height: 100vh;
  width: 100%;
  background-image: url("/images/bg.jpg");  
  background-size: cover;
  background-position: center;
  
  }
  
  /* Styling for header */
  
  .profile-card {
    width: 300px;
    
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    margin:20px auto;
    opacity: 0.9;
  }
  
  .profile-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  #changes
  {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1.5px solid #aaaaaa;
    outline: none;
  }
  #submit
  {
    background: #7d2ae8;
    margin-top: 10px;
    width: 50%;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }