* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html
  {
  height: 100vh;
  width: 100%;
  background-image: url("/images/bg.jpg");  
  background-size: cover;
  background-position: center;
  
  }
  
  /* Styling for header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    background-color:  #2F3C7E;
  opacity: 0.9;
  }
  
  header h1 {
    font-size: 32px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }

  .profile-card {
    width: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    margin:20px 5rem;
    opacity: 0.9;
  }
  
  .profile-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .profile-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .profile-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .profile-card ul li {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
  }
  
  .profile-card ul li span {
    font-weight: bold;
    color: #666;
    margin-right: 5px;
  }
  .update_profile_button
  {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
    background-color: #2F3C7E;
    color: white;
    cursor: pointer;
  }
  .update_profile_button:hover
  {
    color: #2F3C7E;
    background-color: wheat;
  }